# Ignore saved JSON files
*.json
!descriptions.json

#Ignore geckodriver and logs
geckodriver
geckodriver.log

#Ignore compiled python
*.pyc

#Ignore my private key for god's sake
private_key.txt

#Ignore the filter
.gitattributes